<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Pizza</title>
</head>
<body>
    <h1>Welcome to Express Pizza</h1>
    <h2>Specialty Pizzas</h2>
    <ul>
        <li><a href="/pizza-routes?name=Anchovy+Lovers&price=15">Anchovy Lover's</a></li>
        <li><a href="/pizza-routes?name=Paleo+Pizza&price=15">Paleo Pizza</a></li>
        <li><a href="/pizza-routes?name=Dessert+Pizza&price=15">Dessert Pizza</a></li>
    </ul>
    <h2>Custom Pizza</h2>
    <a href="#">Build your own!</a>
    <h2>Leave a review</h2>
    <a href="http://">Click to leave a review</a>
</body>
</html>