<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Specialty Pizza</title>
</head>
<body>
    <h1>Specialty Pizza: {{name}}</h1>
    <p>Name: {{name}}</p>
    <p>Price: ${{price}}.00</p>
    <a href="http://localhost:3000">Back to Homepage</a>
</body>
</html>